<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="learningBanner">

    <!-- Learning Marquee -->
    <div class="alert alert-info
                text-center
                fw-bold
                shadow-sm
                mb-3">

        <marquee behavior="scroll" direction="left">

            🚀 Continuously Acquire Knowledge and Keep Learning |
            ☕ Practice Daily |
            🔥 Consistency Beats Talent |
            💻 Build Real Projects |
            📚 If you stop learning means its a dead end for you |
            🎯 One Step Every Day |
            🚀 Its a continuous process

        </marquee>

    </div>


    

</div>

</body>

</html>